.marco {
    transition: 0.8s;
    transform-style: preserve-3d;
    /*position: relative;*/
}


/* flip the pane when hovered */


/*
.marco:hover {
    transform: rotateY(180deg);
}*/


/* hide back of pane during swap */

.front,
.back {
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    /*position: absolute;
    
    /*top: 0;
    left: 0;*/
}


/* front pane, placed above back */

.front {
    z-index: 4;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    z-index: 2;
    transform: rotateY(180deg);
}