#marcador {
    font-size: 0.8em;
    width: 100%;
    height: 300px;
}

#puntos {
    width: 100%;
    height: 100%;
    background-color: mediumvioletred;
}

#prueba {
    width: 50%;
    height: 100px;
    background-color: #1590c7;
}

#marco {
    width: 50%;
    height: 50%;
    background-color: aquamarine;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
}

.up,
.down {
    width: 100%;
    height: 100%;
    position: absolute;
}

.up {
    transition: 0.5s;
    transform-style: preserve-3d;
}


/*
.marco {
    transform-style: preserve-3d;
    perspective: 300px;
}*/

.up,
.down {
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}


/* front pane, placed above back */

.up {
    z-index: 4;
    transform: rotateX(180deg);
    transform-origin: top;
}


/* back, initially hidden pane */

.down {
    z-index: 2;
}

.carta {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 10px #b9baba;
}
