#marcador {
    font-size: 0.8em;
    width: 100%;
    height: 10%;
}

#puntos {
    width: 100%;
    height: 50px;
}

.marco {
    width: 33%;
    height: 100%;
    float: left;
}

.up,
.down {
    width: 30%;
    height: 100%;
    position: absolute;
}

.up {
    transition: 0.5s;
    transform-style: preserve-3d;
}


/*
.marco {
    transform-style: preserve-3d;
    perspective: 300px;
}*/

.up,
.down {
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

.carta {
    width: 80%;
    height: auto;
}


/* front pane, placed above back */

.up {
    z-index: 4;
    transform: rotateX(180deg);
    transform-origin: top;
    /* back, initially hidden pane */
}

.down {
    z-index: 2;
}

.carta {
    border-radius: 0px 0px 10px 10px;
    /*box-shadow: 2px 2px 5px #9ab9b9;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}
