.up {
    transition: 1s;
    transform-style: preserve-3d;
}

.marco {
    transform-style: preserve-3d;
    perspective: 300px;
}

.up,
.down {
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}


/* front pane, placed above back */

.up {
    z-index: 4;
    transform: rotateX(180deg);
    transform-origin: top;
}


/* back, initially hidden pane */

.down {
    z-index: 2;
}

.carta {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 10px #b9baba;
}
