    #cabecera h1,
    #aside p {
        font-family: 'Patrick Hand SC', cursive;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }
    
    #cabecera {
        height: 12%;
        margin-bottom: 5%;
    }
    /*///////////Media Queries///////////////////*/
    
    @media only screen and (max-width: 660px) {
        #cabecera h1 {
            font-size: 2em;
        }
        #aside p {
            font-size: 1em;
        }
        #cabecera {
            background-color: lightblue;
        }
        #contenedor {
            width: 100%;
        }
    }
    
    #contenedor {
        width: 80%;
        height: 80vh;
        margin: 0 auto;
    }
    
    #aside {
        width: 20%;
        height: 100%;
        float: left;
    }
    
    #grid {
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #asideDch {
        width: 30%;
        height: 100%;
        float: left;
    }
    
    #vadorrin {
        width: 50%;
        height: auto;
    }
    
    #vadorrin1,
    #vadorrin2 {
        position: absolute;
        height: 50vh;
    }
    
    #vadorrin2 {
        display: none;
    }
    
    .mensaje {
        font-size: 1.5em;
        padding: 5%;
        display: none;
        font-weight: bold;
    }
    
    #bocata {
        font-family: 'Patrick Hand SC', cursive;
        border-style: solid;
        border-color: deepskyblue;
        border-radius: 20px;
        border-width: 0.5em;
        width: 100%;
        height: 30%;
    }
    
    #mensaje {
        width: 100%;
        height: 80%;
    }
    /*-----------------Simon---------------*/
    
    #simon {
        padding: 0px;
        margin-top: 5%;
        margin-left: 10%;
        width: 30vw;
        height: 30vw;
        transform: rotateZ(45deg);
    }
    
    #rojo {
        border-radius: 100% 10% 10% 10%;
        background-color: red;
    }
    /* box-shadow: 0px 0px 7px 2px #ea3e15;*/
    
    #amarillo {
        border-radius: 10% 10% 100% 10%;
        background-color: yellow;
    }
    
    #azul {
        border-radius: 10% 100% 10% 10%;
        background-color: blue;
    }
    
    #verde {
        border-radius: 10% 10% 10% 100%;
        background-color: #07de07;
    }
    
    #azul,
    #verde,
    #amarillo,
    #rojo {
        float: left;
        width: 50%;
        height: 50%;
        border: 5px solid #2f353c;
    }
    /* transform: rotateZ(45deg);*/
    /*--------Animación css---------*/
    
    .saturate {
        -webkit-animation: saturate 2s;
    }
    
    @-webkit-keyframes saturate {
        0%,
        100% {
            -webkit-filter: saturate(none);
        }
        50% {
            -webkit-filter: saturate(10);
        }
    }
    
    .fallo {
        -webkit-animation: fallo 3s;
        box-shadow: 0px 0px 12px 6px #4df4da;
    }

    @-webkit-keyframes fallo {
        0%,
        100% {
            -webkit-filter: brightness(none);
        }
        50% {
            -webkit-filter: brightness(0.3);
        }
    }

    .brilla {
        -webkit-animation: brightness 1s;
        box-shadow: 0px 0px 12px 6px #4df4da;
    }
    
    @-webkit-keyframes brightness {
        0%,
        100% {
            -webkit-filter: brightness(none);
        }
        50% {
            -webkit-filter: brightness(2);
        }
    }
