#ventana {
    box-shadow: 0 0 16px 0 black;
    background-image: url("../img/pizarra.png");
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    background-size: 100% 100%;
    padding-top: 1.5em;
    height: 60%;
    border-radius: 5%;
}

#opciones {
    margin-top: 10%;
    text-align: center;
}

#opciones button {
    box-shadow: 0 0 16px 0 black;
    color: #e8e7db;
    margin: 0.1em;
    padding: 0em 0.6em 0em 0.6em;
    font-size: 4em;
    font-weight: bold;
    align-self: center;
    border-radius: 0.2em;
}

#multi p {
    color: #e8e7db;
    text-align: center;
    font-size: 7em;
    font-weight: bold;
}

@media only screen and (max-width: 1600px) {
    #opciones {
        margin-top: 10%;
    }
    #opciones button {
        margin: 0.1em;
        padding-left: 0.3em;
        padding-right: 0.3em;
        font-size: 4em;
    }
    #multi p {
        margin-bottom: 0.2em;
        font-size: 5em;
    }
    #ventana {
        margin-bottom: 1em;
        height: 60%;
    }
}

@media only screen and (max-width: 660px) {
    #ventana {
        height: 80%;
    }
    #multi p {
        margin-top: 0.2em;
        font-size: 3em;
    }
    #opciones {
        margin-top: 0px;
    }
    #opciones button {
        margin: 0.2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 1.8em;
    }
}
