    #columnaIzq {
        width: 25%;
        height: auto;
        float: left;
    }

    #columnaDch {
        width: 10%;
        height: 100%;
        float: right;
    }

    .dragable,
    .dropable,
    .selector {
        padding-bottom: 0px;
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        border: 4px solid #252627;
        border-radius: 0.2em;
    }

    .dragable {
        background-color: #73c2f8;
    }

    .dropable {
        width: 100%;
        padding-left: 5%;
        text-align: left;
        background-color: #e36dff;
    }

    .selector {
        text-align: center;
        width: 25%;
        background-color: #75e282;
        border-radius: 50%;
    }

    @media only screen and (max-width: 1400px) {
        #columnaIzq {
            width: 35%;
        }
    }

    @media only screen and (max-width: 660px) {
        #cabecera {
            display: none;
        }
        body {
            padding-top: 2%;
        }
        #multi p {
            margin-bottom: 0.2em;
            font-size: 3em;
        }
        #opciones {
            margin-top: 10%;
        }
        #opciones button {
            margin: 0.2em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            font-size: 0.8em;
            font-weight: bold;
            align-self: center;
        }
        #columnaIzq {
            width: 40%;
        }
        .selector {
            margin-left: 30%;
        }
        .dragable,
        .dropable,
        .selector {
            padding-bottom: -5px;
            padding-top: -5px;
            font-size: 1.5em;
            font-weight: 100;
            border: 2px solid #252627;
            border-radius: 0.2em;
        }
    }
